/* Archivo Black */
@font-face {
  font-family: 'Archivo';
  src: url("../recursos/fuentes/Archivo/ArchivoBlack-Regular.ttf");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("../recursos/fuentes/Archivo/ArchivoNarrow-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("../recursos/fuentes/Archivo/ArchivoNarrow-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("../recursos/fuentes/Archivo/ArchivoNarrow-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Archivo";
  src: url("../recursos/fuentes/Archivo/ArchivoNarrow-Italic.ttf");
  font-weight: normal;
  font-style: italic;
};

/* Lato */
@font-face {
  font-family: 'Lato';
  src: url("../recursos/fuentes/lato/Lato-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../../recursos/fuentes/lato/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../recursos/fuentes/lato/Lato-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../recursos/fuentes/lato/Lato-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}